<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {{#if isAdmin }}
            <h1 class="text-uppercase fw-bold font-monospace p-2 text-center">Create</h1>
            <form action="/places/create" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Choose the type</label>
                    <select class="form-select" aria-label="Default select example" name="type">
                        <option selected>Clasifica tu creacion</option>
                        <option value="Disco">Disco</option>
                        <option value="Hotel">Hotel</option>
                        <option value="Event">Event</option>
                        <option value="Restaurant">Restaurant</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description"
                        placeholder="Tell us about the place ...">
                </div>
                <div class="mb-3">
                    <label for="rate" class="form-label">Rating</label>
                    <input type="number" class="form-control" id="rating" name="rating" placeholder="0-5" min="0"
                        max="5">
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Auth@r</label>
                    <input type="text" class="form-control" id="author" name="author">
                </div>
                <div class="mb-3">
                    <label for="imageUrl" class="form-label">Image</label>
                    <input type="file" class="form-control" id="imageUrl" name="imageField">
                </div>
                <div class="row">
                    <label for="" class="form-label">Coordinates</label>
                    <div class="mb-3 col-md-6">
                        <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Latitude">
                    </div>
                    <div class="mb-3 col-md-6 ">
                        <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Longitude">
                    </div>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-outline-dark">Create</button>
                </div>
        </div>
        </form>
        {{/if }}

        {{#if isCreator }}
        <h1 class="text-uppercase fw-bold font-monospace p-2 text-center">Espacio para tu creatividad</h1>
        <form action="/places/create" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="name" class="form-label"></label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            </div>
            <div class="mb-3">
                <label for="type" class="form-label"></label>
                <select class="form-select" aria-label="Default select example" name="type">
                    <option selected>Clasifica tu creacion</option>
                    <option value="Disco">Discoteca</option>
                    <option value="Hotel">Hotel</option>
                    <option value="Event">Evento</option>
                    <option value="Restaurant">Restaurante</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label"></label>
                <input type="text" class="form-control" id="description" name="description"
                    placeholder="Cuentanos que te parece">
            </div>
            <div class="mb-3">
                <label for="rate" class="form-label">Puntuación</label>
                <input type="number" class="form-control" id="rating" name="rating" placeholder="0-5" min="0" max="5">
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Autor/a</label>
                <input type="text" class="form-control" id="author" name="author">
            </div>
            <div class="mb-3">
                <label for="imageUrl" class="form-label">Imagen</label>
                <input type="file" class="form-control" id="imageUrl" name="imageField">
            </div>
            <div class="row">
                <label for="" class="form-label">Coordinates</label>
                <div class="mb-3 col-md-6">
                    <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Latitud">
                </div>
                <div class="mb-3 col-md-6 ">
                    <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Longitud">
                </div>
            </div>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-outline-dark">Crear</button>
    </div>
    </form>

    {{/if }}
</div>
</div>
