<div class="container mt-5">
    <h1>Discotecas</h1>
    <ul>
        {{#each places }}
        <li> <a href="/places/discos-list/details/{{id}}"> {{ name }} </a></li>
        {{/each}}
    </ul>
</div>
