<div class="container mt-2 text-center">
    <h1 class="text-uppercase fw-bold font-monospace p-4 text-center">Content</h1>
    <hr>
    <div class="container d-flex">
        <div class="card mt-3 me-3 bg-dark border-bottom border-warning border-2" style="width: 18rem;">
            <img src="https://www.ondoan.com/img/2019/07/riu-garoe.png" class="card-img-top card-img mt-2 p-2"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Hotel</h5>
                <p class="card-text">Mejores hoteles de la zona</p>
                <a href="/places/hotels-list" class="btn btn-outline-light">Lets Go</a>
                {{#if isAdmin}}
                <a href="/places/create" class="btn btn-outline-success">Create</a>
                {{/if}}

                {{#if isCreator }}
                <a href="/places/create" class="btn btn-outline-success">Create</a>
                {{/if}}
            </div>
        </div>
        <div class="card mt-3 me-3 bg-dark border-bottom border-warning border-2" style="width: 18rem;">
            <img src="http://fabrikclub.com/wp-content/uploads/2020/03/main_terraza.jpg"
                class="card-img-top card-img mt-2 p-2" alt="...">
            <div class="card-body">
                <h5 class="card-title">Discotecas</h5>
                <p class="card-text">Mejores discotecas de la zona</p>
                <a href="/places/discos-list" class="btn btn-outline-light">Lets Go</a>
                {{#if isAdmin}}
                <a href="/places/create" class="btn btn-outline-success">Create</a>
                {{/if}}

                {{#if isCreator }}
                <a href="/places/create" class="btn btn-outline-success">Create</a>
                {{/if}}

            </div>
        </div>
        <div class="card mt-3 me-3 bg-dark border-bottom border-warning border-2" style="width: 18rem;">
            <img src="https://e7.pngegg.com/pngimages/975/518/png-clipart-musician-concert-music-video-music-festival-others-people-stage.png"
                class="card-img-top card-img mt-2 p-2" alt="...">
            <div class="card-body">
                <h5 class="card-title">Event</h5>
                <p class="card-text">Mejores eventos de la zona</p>
                <a href="/places/events-list" class="btn btn-outline-light">Lets Go</a>
                {{#if isCreator }}
                <a href="/places/create" class="btn btn-outline-success">Create</a>
                {{/if}}
                {{#if isAdmin}}
                <a href="/places/create" class="btn btn-outline-success">Create</a>
                {{/if}}

            </div>
        </div>
        <div class="card mt-3 bg-dark border-bottom border-warning border-2" style="width: 18rem;">
            <img src="https://www.teveoenmadrid.com/wp-content/uploads/2022/04/restaurante-quinto-elemento-planta-siete-restaurante-te-veo-en-madrid.jpg"
                class="card-img-top card-img mt-2 p-2" alt="...">
            <div class="card-body">
                <h5 class="card-title">Restaurants</h5>
                <p class="card-text">Mejores restaurantes de la zona</p>
                <a href="/places/restaurants-list" class="btn btn-outline-light">Lets Go</a>
                {{#if isAdmin}}
                <a href="/places/create" class="btn btn-outline-success">Create</a>
                {{/if}}

                {{#if isCreator }}
                <a href="/places/create" class="btn btn-success">Create</a>
                {{/if}}
            </div>
        </div>
    </div>
</div>