<div class="container mt-5">
    <h1>Restaurante</h1>
    <ul>
        {{#each restaurant}}
        <li> <a href="/places/discos-list/details/{{id}}"> {{ name }} </a></li>
        {{/each}}
    </ul>
</div>
