body {
  font: sans-serif;
  height: 100vh;
}

.cardDetails {
  height: 100vh;
}

#detailsMap {
  height: 300px;
<<<<<<< HEAD
=======

}

#mainMap {
  height: 100vh;
>>>>>>> e0fc0239b11412ef7786c42c31de4f38f7189791
}