body {
  font: sans-serif;
  height: 80vh;
  width: 100%;
  background-color: #4F4F4F;
  color: whitesmoke;
}

.index {
  height: 80vh;
  width: 100%;
  background-color: #4F4F4F;
  color: whitesmoke;
}

.navbar-nav>li>.dropdown-menu {
  background-color: #4F4F4F;
  color: whitesmoke;
}

.cardDetails {
  height: 100vh;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#detailsMap {
  height: 300px;

}

#mainMap {
  height: 100vh;
}