<div class="container mt-3">
    <form action="/reviews/create/{{id}}" method="POST">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height: 100px" name="text"></textarea>
            <label for="floatingTextarea2" class="mt-2">Comments</label>
        </div>
        <button type="submit" class="btn btn-dark">Send</button>
    </form>

</div>
